script#templateSequenceEntry(type='text/x-handlebars-template')
    textarea.sequence

script#templatePrimers(type='text/x-handlebars-template')
    .row
        h1 Generate Primers
    .row
        span
            | Enter the sequences that appear in your construct, in the order they appear in.
    .row#sequenceEntries
    .row.buttonrow
        //- WE'RE BRINGING CENTER BACK
        center
            .medium.primary.btn
                input#addSequence(type='button', value='Add part to construct')
            .medium.secondary.btn
                input#generatePrimers(type='button', value='Generate primers')

