script#templateResultsRow(type='text/x-handlebars-template')
    tr(data-part='{{name}}')
        td
            a.text-large.part-header(class='toggle-{{name}}', href='#')
                i.icon-right-open.resultIcon
                | {{name}}
        td
            span.label(class='{{type}}') {{type}}
        td
            span {{length}} bp
        td
            span
                span(class='rfc-yes') 10
                span(class='rfc-yes') 12
                span(class='rfc-yes') 21
                span(class='rfc-no') 22
                span(class='rfc-no') 25
                span(class='rfc-yes') 1000
        td
            span
                i.icon-star
                | {{stars}}
                i.icon-heart
                | {{rating}}/5
        td.text-right
            a.text-large(href='#') add
    tr.partExtended(class='toggle-{{name}}')
        td(colspan='6')
            p.description
                | {{description}}
            p.remarks
                | Submitted {{dateEntered}}
                br
                a.red(href='{{partUrl}}') {{availablility}}
                | -
                span.green {{works}}
                | -
                | {{numUses}} uses

script#templateSearchResults(type='text/x-handlebars-template')
    .row
        h2.search-title search: 'awesome'
    //- Search info bar
    .row
        .six.columns
            | 4 results, page 1 of 1
        .six.columns.text-right
            | Sort by
            .field.picker
                select
                    option(value='Relevance') Relevance
                    option(value='Length') Length
                    option(value='Rating') Rating
                    option(value='Stars') Stars
    //- Search results
    .row
        table#searchResultsTable
            //- Sorting columns
            thead
                td
                    a(href='#')
                        | Part ID
                        i.icon-up-dir
                td
                    a(href='#') Type
                td
                    a(href='#') Length
                td Assembly
                td
                    a(href='#') Reviews
                td
            //- Part
            tbody#results
                tr(data-part='K45678')
                    td
                        a.text-large.part-header(href='#')
                            i.icon-right-open.resultIcon
                            | K45678
                    td
                        span.terminator.label terminator
                    td
                        span 1000 bp
                    td
                        span
                            span.rfc-yes 10
                            span.rfc-yes 12
                            span.rfc-yes 21
                            span.rfc-no 22
                            span.rfc-no 25
                            span.rfc-yes 1000
                    td
                        span
                            i.icon-star
                            | 7
                            i.icon-heart
                            | 4.6/5
                    td.text-right
                        a.text-large(href='#') add
                tr.K45678.partExtended
                    td(colspan='6')
                        p.description
                            | This is an awesome part that generates awesomeness wherever it is placed. No genetic network may be awesome without this part.
                        p.remarks
                            | Submitted 2012-12-12
                            br
                            a.red(href='#') Not available
                            | -
                            span.green Works
                            | -
                            | 21 uses
            //- Important! This row prevents odd layout changes when parts are shown.
            tfoot
                tr
                    td(colspan='6', style='width: 100%; height: 1px; padding: 0px;')
