extends layout

block append styles
    style.
        body{
            overflow-y: scroll;
        }

block append content
    //- common templates are inserted in div.header
    div.header
    //- page templates are inserted in div.content
    div.content
        //- .row
        //-     h1 bricklayer
        //- .row
        //-     .six.columns.text-right
        //-         img(src='http://placekitten.com/g/460/507')
        //-     .six.columns
        //-         h1  
        //-         +searchForm("Text Search", "form-text-search", "#")
        //-         +searchForm("1000 Parts Search", "form-thousand-search", "#")
        //-         +searchForm("Subparts Search", "form-subpart-search", "#")
        //-         +searchForm("Superparts Search", "form-superpart-search", "#")

block append javascripts
    include include/templates/commonTemplates
    include include/templates/homeTemplates
    include include/templates/resultTemplates
    include include/templates/brickbinTemplates

    != js('bricklayer')
    != js('RFCService')
    != js('queryService')
    != js('primerService')
    != js('brickbin')

