!!! 5
html(lang='en')
    head
        meta(charset='UTF-8')
        title Bricklayer
        link(href='http://fonts.googleapis.com/css?family=PT+Serif|Open+Sans', rel='stylesheet', type='text/css')
        link(rel='stylesheet', href='css/gumby/gumby.css')
    body
        .row
            .twelve.columns.text-right
                a(href='construction.html') My Cart (6)
                | Martin Hanzel
        .row
            h1 bricklayer
        .row
            .six.columns.text-right
                img(src='http://placekitten.com/g/460/507')
            .six.columns
                h1  
                form(action='searchResults.html')
                    .append.field
                        input.wide.text.input(type='text', placeholder='Text search')
                        .medium.primary.btn
                            input(type='submit', value='Go')
                form(action='searchResults.html')
                    .append.field
                        input.wide.text.input(type='text', placeholder='1000 parts search')
                        .medium.primary.btn
                            input(type='submit', value='Go')
                form(action='searchResults.html')
                    .append.field
                        input.wide.text.input(type='text', placeholder='Subparts search')
                        .medium.primary.btn
                            input(type='submit', value='Go')
                form(action='searchResults.html')
                    .append.field
                        input.wide.text.input(type='text', placeholder='Superparts search')
                        .medium.primary.btn
                            input(type='submit', value='Go')
        .row
            #footer.twelve.columns.text-center
                | © uOttawa iGEM 2013. This is freaking awesoooooome.
