extends layout

//- Defines a reusable search form.
mixin searchForm(title, id, action)
    form(id="#{id}", action='searchResults.html')
        .append.field
            input.wide.text.input(type='text', placeholder='#{title}')
            .medium.primary.btn
                input(type='submit', value='Go')

block content
    .row
        .twelve.columns.text-right
            a(href='construction.html') My Cart (6)
            | Martin Hanzel
    .row
        h1 bricklayer
    .row
        .six.columns.text-right
            img(src='http://placekitten.com/g/460/507')
        .six.columns
            h1  
            +searchForm("Text Search", "form-text-search", "#")
            +searchForm("1000 Parts Search", "form-thousand-search", "#")
            +searchForm("Subparts Search", "form-subpart-search", "#")
            +searchForm("Superparts Search", "form-superpart-search", "#")

block append javascripts
    != js('bricklayer')
    != js('queryService')

