doctype 5
html
    head
        title iGEM Bricklayer

        link(href="http://fonts.googleapis.com/css?family=PT+Serif|Open+Sans", rel="stylesheet", type="text/css")
        != css("reset")
        != css("grid")
        != css("forms")
        != css('style')
    body
        block content
        include include/footer

    block javascripts
        != js('lib/jquery-2.0.2.min')
