!!! 5
html(lang='en')
    head
        meta(charset='UTF-8')
        title Bricklayer
        link(href="http://fonts.googleapis.com/css?family=PT+Serif|Open+Sans", rel="stylesheet", type="text/css")
        != css('gumby/gumby')
    body
        block content
        include include/footer

    block javascripts
        != js('lib/jquery-2.0.2.min')
