#searchResultsTable {
	margin: 0px;
	&, tr, td {
		border: 0;
	}

	thead a {
		color: white;
		@include link-colors(white, lighten($body-link-color, 7%));
	}

	// Extended part information, hidden by default
	.partExtended {
		display: none;
		border-bottom: 1px solid $body-link-color;
	}
}