// Your custom SCSS should be written here...

#cart div, #part div {
	@extend .alert;
	@extend .primary;
}

#searchForms {
	padding-top: 100px;
}

#footer {
	color: #aaa;
	font-size: 12px;
	margin-top: 10px;
	text-align: center;
}